/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
      box-sizing: border-box;
}

/* Variables & Helpers
-------------------------------------------------- */

@import "fonts.less";
@import "mixins.less";


a {
  color: inherit;
  text-decoration: none;
}

a:hover {
}

@c1 = black;
@c2 = #000;
@c3 = black;

@mp-s = 15px;
@mp-m = 27px;
@mp-l = 40px;
@mp-xl = 70px;

@lbTransitionLength: 0.25s;
@lbTransitionLengthLong: 0.75s;

@fontStack: 'Inhouse Gothic', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

@fs-s: 21px;
@lh-s: 24px;

@fs-m: 25px;
@lh-m: 28px;

.fs-m {
    font-size: @fs-m;
}
.fs-s {
    font-size: @fs-s;
}
.lh-m {
     line-height: @lh-m;
}
.lh-s {
    line-height: @lh-s;
}

button:focus {
    outline: none;
}

em {
    font-style: italic;
}

.active {
 // border: solid 2px;
 // color: #eee!important;
 color: green!important;
}

// .tempNonActive {
//   color: @c2 !important;
// }

.text {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; 
  color: @c1;
  letter-spacing: 0.05em;
  font-family: @fontStack;
  .fs-s;
  .lh-s;
  p {
  padding: 0 0 @lh-s 0;
  }
}

.title {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; 
  letter-spacing: 0.035em;
  font-family: @fontStack;
  .fs-m;
  .lh-m;
  p {
  padding: 0 0 @lh-m 0;
  }
}

.opentype {

}

.pointer {
  cursor: pointer;
}

.trans {
  .transition(@lbTransitionLength ease opacity;);
}

.translong {
  .transition(@lbTransitionLengthLong ease;);
}

.user-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;   
}


/* Site
-------------------------------------------------- */
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  .text;
}

body {
  margin: 0;
  overflow-x: hidden; 
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; 
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

/* Sitenav
-------------------------------------------------- */
.sitenav {

  &_left {
    float: left;
    // color: @c2;
  }
  &_title {
    margin-right: @mp-m;
    // color: @c1;
  }
  &_shows {
  }
  &_artists {
  }
  &_info {
  }
  &_wrapper {
    width: 100%;    
    line-height: 0;
  }
  &_nav {
    display: inline-block;
    list-style: none;
    .title;
    
    padding-right: @mp-s*1.5;
  }
}

.sitenav_wrapper:before,
.sitenav_wrapper:after {
    content: " ";
    display: table;
}

.sitenav_wrapper:after {
    clear: both;
}

/* Menu
-------------------------------------------------- */
.menu_wrapper {
  position: fixed;
  z-index: 0;
  padding: @mp-s 0 0 @mp-s; 
  font-size: 0;
  width: 100%;
}

.menu_switch {
  display: inline-block;
}

.menu_time {
  display: inline-block;
}

.menu_artists {
  padding: @lh-m @mp-s 0 0; 
  line-height: 0;
  width: calc(~'100% - 100px');
  li { 
    .title;
    display: inline-block;
    z-index: 0;
  }
}

.menu_times {
  padding:  @lh-m 0;
  .title;
  a {
    color: @c2;
 }
}

// .menu_artists_temp {
//   display: block;
//   .title;
// }


/* General
-------------------------------------------------- */
.main_wrapper {
  padding: 270px @mp-s @mp-s @mp-s;
  height: auto;
}

.no_match {
}

/* Shows
-------------------------------------------------- */
.home_show_wrap {  
}

.home_show_outer {
  padding: 0 @mp-s @mp-s 0;
  &:nth-of-type(even) {
  }
  &:nth-of-type(odd) {
  }
}

.home_show_year {
  padding: 0 0 @mp-l 0;
  .title;
  display: block;
}


.home_show {
  text-align: left;
  display: inline-block;
  vertical-align: top; 
  // width: 265px;
  width: 310px;
  margin: 0 @mp-s @mp-xl 0;
  &_title {
    width: 32vw;
    .text;
  }
  &_date {
    .text;
    vertical-align: top;
    display: block;
  }
  &_thumb {  
    // width: 265px;
    // height: 230px;
    width: 310px;
    height: 270px;
    line-height: 0;
    display: block;
    margin-bottom: @mp-s;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &_artist {
    width: 32vw;
    
  }

}

.upcoming {
   border-radius: 50%;
}

.current {
   border-radius: 50%;
}

.home_show_link:hover {
  cursor: pointer;
}

/* Show
-------------------------------------------------- */
.show_wrapper {
  padding: @mp-s+@lh-m @mp-s @mp-s @mp-s;
}

.show_thumb {
  display: none;
  max-width: 50%;
  float: right;
  padding-top: @mp-m;
  // max-width: 50%;
  &_image {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding: 0 @mp-l @mp-l  0;
  }
  &_img {
    cursor: pointer;
    height: auto;
    width: 100%;
  }
  &_caption {
    display: block;
    padding: @mp-s 0;
  }
}

.show_info {
 .title;
 max-width: 95%;
 &_title {
  display: block;
 }
 &_date {
  display: block;
 }
 &_artists {
  span {
    display: inline-block;
  }
 }
 &_description {
  .text;
  padding: @mp-s/2 0 @mp-m 0;
 }
}

.show_description {
  .text;
  padding: @lh-m @mp-m @mp-m 0;
}


/* Artists
-------------------------------------------------- */
.artists_wrap {
  padding: @mp-xl @mp-m;
  .title;

  &_link {
    display: block;
  }
}

/* Artist
-------------------------------------------------- */
.artist_wrap {
  width: 100%;
  padding: 0 @mp-m @mp-m 0;
}

.artist_biography_section {
  .title;
  padding-bottom: @mp-l;
}

.artist_section_title {
  padding: 0 0 @mp-s/2 0;
}

.artist_section_date {
  width: 200px;
  display: inline-block;
}

.artist_section_info {
  display: inline-block;
  width: auto;
  max-width: calc(~'100% - 200px');
}

.artist_thumb {
  padding: 0 @mp-s @mp-l 0;
  display: inline-block;
  vertical-align: top;
  img {
    // width: 310px;
    height: 270px;
    width: auto;
    cursor: pointer;
    margin-bottom: @mp-s;
    transition: box-shadow 0.05s;
  }
  .user-select;
}

.artist_overlay_wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: rgba(200,255,255,0.85);
  // .transition(0.25s ease opacity);
  &.active {
    opacity: 1;
  }
  &.ontop {
    z-index: 99
  }
}

.overlay_slide_s {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  cursor: pointer;
  &_img {
    width: calc(~"100vw - 200px");
    height: calc(~"100vh - 200px");
    position: absolute;
    top: 0;
    left: 0;
    margin: 100px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &_caption {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0px;
    padding: @mp-m @mp-l;
    .fs-s;
    .lh-s;
    color: @c1;
    .user-select;
    text-align: center;
    p {
    padding: 0;
    }
  }
}

/* Helpers
-------------------------------------------------- */
.opacityzero {
  opacity: 0 !important;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.nobr { 
  white-space: nowrap; 
}

.strike {
  text-decoration: line-through;
}

.comma {
  // .title;
  // text-decoration: none!important;
}

/* Animations
-------------------------------------------------- */

.animated {
  .transition(@lbTransitionLength ease opacity;);
}

.animated_2 {
  .transition(@lbTransitionLength ease opacity;);
}

/* Media Queries
-------------------------------------------------- */

@media only screen and (max-width: 900px) {
 
}

@media only screen and (max-width: 700px) {
  
}

@media only screen and (max-width: 500px) {
  
}
