/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
      box-sizing: border-box;
}

/* Variables & Helpers
-------------------------------------------------- */

@import "fonts.less";
@import "mixins.less";


a {
  color: inherit;
  text-decoration: none;
}

a:hover {
}

@c1 = #fff;
@c2 = #202020;
@c3 = #FD5F00;


@mp-s = 10px;
@mp-m = 18px;
@mp-l = 40px;
@mp-xl = 70px;

@lbTransitionLength: 0.25s;
@lbTransitionLengthLong: 0.75s;

@fontStack: 'Magister-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

@fs-s: 15px;
@lh-s: 17px;

@fs-m: 15px;
@lh-m: 17px;

.fs-m {
    font-size: @fs-m;
}
.fs-s {
    font-size: @fs-s;
}
.lh-m {
     line-height: @lh-m;
}
.lh-s {
    line-height: @lh-s;
}

button:focus {
    outline: none;
}

em {
    font-style: italic;
}

.active {
    // border-bottom: 2px solid;
    // transform: rotate(180deg) scaleX(-1);
    // text-transform: Uppercase;
    // color: blue;
    // padding-bottom: -2px;
    // color: grey;
    // font-family: "HelveticaNeue-MediumItalic";
    font-family: 'MagisterActive-Regular';
}

.text {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; 
  color: @c2;
  letter-spacing: 0.05em;
  .fs-s;
  .lh-s;
}

.opentype {

}

.pointer {
  cursor: pointer;
}

.trans {
  .transition(@lbTransitionLength ease opacity;);
}

.translong {
  .transition(@lbTransitionLengthLong ease;);
}


/* Site
-------------------------------------------------- */
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  .text;

  // fontstack didnt recognize the font when added there
  font-family: @fontStack;
}

body {
  margin: 0;
  overflow-x: hidden; 
  background: @c1;
  // background-image: url(http://www.sulki-min.com/wp/sm-images/bg-noise.gif);
  // background-size: 250px 250px;
  // background-color: @c2;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; 
}

p {
  padding: 0 0 @lh-m 0;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

/* Menu
-------------------------------------------------- */
header {
  padding: @mp-s;
  width: 100%;
  text-align: center;
}
/* Menu
-------------------------------------------------- */
.menu_wrapper {
  width: 100%;
  height: auto;
  color: @c1;
  // margin: @mp-s @mp-s @mp-s @mp-s; 
  padding: @mp-s @mp-s @mp-s @mp-m; 
  position: fixed;
  font-size: 0;
  // color: @c3; 
  // background: rgba(255,255,255,0.9);
  border-radius: 5px;
  // text-shadow: 1px 1px #ffffff;
  // text-align: center;
  // position: fixed;
  // text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6), 1px -1px 1px rgba(255,255, 255, 0.6), -1px 1px 1px rgba(255, 255, 255, 0.6), -1px -1px 1px rgba(255, 255, 255, 0.6);
}

// .menu_adress {
//   padding: @mp-s @mp-s @mp-s @mp-m; 
//   // background: rgba(250,250,250,0.9);
//   // background: rgba(255,255,0,0.9);
//   // background: rgba(120,120,120,0.9);
//   // color: white;
//   display: inline-block;

// }

// .menu_title {
//   padding: 0 0 @mp-m 0;
//   text-align: center;
// }

.menu_switch {
  padding: @mp-s @mp-s @mp-s @mp-s; 
  margin: @mp-s/2;
  display: inline-block;
  background: rgba(0,0,0,0.9);
 border-radius: 10px;
 // background: rgba(120,120,120,0.9);
  .fs-m;
  .lh-m;
}

// .menu_reset {
//   padding: @mp-s @mp-s @mp-s 0; 
//   display: inline-block;
// }

.menu_time {
  padding: @mp-s @mp-s @mp-s @mp-s; 
  margin: @mp-s/2;
  display: inline-block;
  background: rgba(0,0,0,0.9);
  border-radius: 10px;
  // background: rgba(120,120,120,0.9);
  .fs-m;
  .lh-m;
}

.menu_artists a {
  padding: @mp-s @mp-s @mp-s @mp-s; 
  margin: @mp-s/2;
  // max-width: 1200px;
  display: inline-block;
  border-radius: 10px;
  background: rgba(0,0,0,0.9);
  // background: rgba(120,120,120,0.9);
  .fs-m;
  // .lh-m;
}

// slider
// .menu_switch_label {
//   position: relative;
//   display: inline-block;
//   width: 30px;
//   height: 18px;
//   top: 2px;
//   margin: 0 10px 0 10px;
// }

// .menu_switch_label input {display:none;}

// .menu_switch_slider {
//   position: absolute;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   border-radius: 25px;
//   background: @c2;
  
// }

// .menu_switch_slider:before {
//   position: absolute;
//   content: "";
//   height: 12px;
//   width: 12px;
//   left: 3px;
//   top: 3px;
//   .trans;
//   background-color: @c1;
//   border-radius: 50%;
// }

// input:checked + .menu_switch_slider {
//   /*background-color: grey;*/
// }

// input:focus + .menu_switch_slider {
//   /*box-shadow: 0 0 1px grey;*/
// }

//     input:checked + .menu_switch_slider:before {
//       -webkit-transform: translateX(12px);
//       -ms-transform: translateX(12px);
//       transform: translateX(12px);
    // }

/* General
-------------------------------------------------- */
.main_wrapper {

}

/* home
-------------------------------------------------- */
.home_show_wrap {
  width: 100%;
  height: auto;
  padding: @mp-s*20 @mp-s @mp-s @mp-s; 
}

.home_show_year {
  // display: inline-block;
  // width: 300px;
  // height: 220px;
  text-align: left;
  .fs-m;
  .lh-m;
  // background: @c2;
  // color: @c1;
  padding: @mp-s @mp-m;
  margin: @mp-m;
  border-bottom: dotted 2px @c2;
  border-top: dotted 2px @c2;
}

.home_show_portrait {
  text-align: center;
  // float: left;
  display: inline-block;
  vertical-align: top;
  // padding: @mp-s;  
  width: 170px;
  height: 240px;
  // width: calc(~"100% / 6");
  // height: 100%;
  margin: @mp-m; 
  // height: 200px;
  // background: rgba(250,250,250,1);
  &_caption {
    // height: 100%;
    padding-top: @mp-s/2;
    display: inline;
    span {
      display: block;
    }
  }
  &_img {
    height: 220px;
    width: 170px;
    margin-bottom: @mp-s/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.home_show_landscape {
  text-align: center;
  // float: left;
  display: inline-block;
  vertical-align: top;
  // padding: @mp-s;  
  width: 320px;
  margin: @mp-m; 
  // img {
  //   margin-bottom: @mp-s/2;
  //   width: 100%;
  //   display: inline;
  // }
  &_caption {
    // height: 100%;
    padding-top: @mp-s/2;
    display: block;
    span {
      display: block;
    }
  }
  &_img {
    height: 220px;
    width: 320px;
    margin-bottom: @mp-s/2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// .home_show img {
//   margin-bottom: @mp-m;
//   width: auto;
//   height: 100%;
//   display: inline;
// }

// .home_show_caption {
//   width: 100%;
//   display: block;
//   span {
//     display: block;
//   }
// }

// .small_float.portrait {
//   width: 200px;
// }

// .small_float.landscape {
//   width: 300px;
// }

// .medium_float.portrait {
//   width: 300px;
// }

// .medium_float.landscape {
//   width: 500px;
// }

// .big_float.portrait {
//   width: 500px;
// }

// .big_float.landscape {
//   width: 600px;
// }

  // .portrait {
  //   width: 300px;
  // }

  // .landscape {
  //   width: 500px;
  // }

// .small_float {
//   width: 250px;
//   // background: green;
// }

// .medium_float {
//   width: 250px;
//   // background: blue;
// }

// .big_float {
//   width: 250px;
//     // color: red;
//   // background: #FD5F00; 
// }

// .portrait {
//   height: 300px;
// }

// .landscape {
//   height: 200px;
// }

/* Helpers
-------------------------------------------------- */

.nobr { 
  white-space: nowrap; 
}

/* Animations
-------------------------------------------------- */

.animated {
  .transition(@lbTransitionLength ease opacity;);
}

.animated_2 {
  .transition(@lbTransitionLength ease opacity;);
}

/* Media Queries
-------------------------------------------------- */

@media only screen and (max-width: 900px) {
 
}

@media only screen and (max-width: 700px) {
  
}

@media only screen and (max-width: 500px) {
  
}
